.container-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: url("../Assets/andrew-neel-cckf4TsHAuw-unsplash.jpg");
    height: calc(100vh - 70px);
    margin-top: calc(70px - 100vh);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 70px);
}
.linearsignup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 130px;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to bottom,rgba(18, 22, 22, 0.3),rgba(0, 0, 0, 0.6)) ;

}
.card-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 1px solid rgb(53, 53, 53);
    user-select: none;
    box-shadow: 4px 7px 7px rgb(26, 25, 25);
    background-color: rgba(230, 230, 230, 0.82);
    width: 50%;
    height: 74vh;
}
.card-signup-header{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: center;
    border-bottom: 1px solid grey;
    font-size: 25px;
    font-weight: bold;
    color: black;
    width: 82%;
    height: 12%;
}
.card-signup-header i{
    margin-left: 10px;
}
.card-signup-body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.card-signup-body form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 10px 20px;
}
.card-signup-body form label{
    color: black;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 8px;
}
.card-signup-body form input{
    outline: none;
    appearance: none;
    border: 1.618px solid rgb(27, 27, 27);
    padding: 4px 12px;
    color: black;
    font-size: 15px;
    border-radius: 8px;
}
.card-signup-body form div{
    margin-bottom: 8px;
    height: 10px;
    color: rgb(197, 17, 17);
    font-size: 13px;
    margin-left: 4px;
}
.card-signup-body form input.form-control-signup-invalid{
    border: 1.618px solid rgb(255, 0, 0);
}
.card-signup-body form input.form-control-signup-valid{
    border: 1.618px solid rgb(43, 255, 0);
}
.card-signup-body form button{
    margin-top: 12px;
    outline: none;
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: blueviolet;
    background-image: linear-gradient(to right,rgba(212, 12, 129, 1),rgba(168, 168, 168, 0.6));
    color: #FFFF;
    font-size: larger;
}
.card-signup-body form button:hover{
    background-image: linear-gradient(to right,rgb(250, 4, 147),rgba(34, 33, 33, 0.6));
}
